.timer {
  width: 600px;
  height: 100px;
  background-color: blue;
}

.field {
  width: 100px;
  height: 100px;
  background-color: orange;
}

.value {
  width: 100px;
  height: 50px;
  background-color: coral;
}

.label {
  width: 100px;
  height: 50px;
  background-color: cornflowerblue;
}
